{{ define "main" }}
  {{ .Scratch.Add "blog" (dict "date" "2006-01-02" "title" "Title" "description" "Description" "cover" "Cover" "readingTime" "ReadingTime")}}
  <main>
  {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) }}
  <h2 style="padding-left: 1rem;">Posts with tag {{.Title}}</h2>
  <a href="index.xml" class="rss-link">RSS for this tag</a>
  {{- end }}
  <div class="container">
    <div class="blogsList">
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
        {{ if .Params.Cover}}
        <div class="blogPost hasCover" style="background-image: url({{.Params.Cover}}); background-size: cover;">
        {{ else }}
        <div class="blogPost">
        {{ end }}
          {{ $date := .Date.Format "Mon, Jan 2, 2006 @ 15.04" }}
          {{.Scratch.Set "date" $date}}
          {{.Scratch.Set "author" .Params.Author}}
          {{.Scratch.Set "readingTime" .ReadingTime}}
          {{.Scratch.Set "wordCount" .WordCount}}
          {{.Scratch.Set "readingTime" .ReadingTime}}
          <h2>{{ .Title | markdownify }}</h2>
          <p class="blogPostMetadata">{{.Scratch.Get "date"}}{{if .Scratch.Get "author"}} • Written by {{.Scratch.Get "author"}}{{end}}{{if .Scratch.Get "readingTime"}} • {{.Scratch.Get "readingTime"}} min read{{end}}{{ if .Scratch.Get "wordCount"}} • {{.Scratch.Get "wordCount"}} words{{end}}</p>
          <p>{{ .Description | markdownify }}</p>
          <a class="read-more button" href="{{ .RelPermalink }}"
            >Read more →</a
          >
          </div>
        {{ end }}
    </div>
  </div>
  </main>
{{ end }}