{{ define "main" }}
<main>
    <a href="{{ .Site.BaseURL }}" class="back-link">← Back to home</a>
    <article>
    <header>
        {{ if .Date}}
        <h1>{{ .Title }} - <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time></h1>
        {{else}}
        <h1>{{ .Title }}</h1>
        {{end}}
        {{if .ReadingTime}}
        <p>{{.ReadingTime}} min read</p>
        {{end}}
        {{ if .Params.Author}}
        <p>Written by <b>{{.Params.Author}}</b></p>
        {{end}}
        <p>{{.WordCount}} words</p>
        {{ if .Params.Category }}
        <p>Category: <a href="/categories/{{.Params.Category}}">{{.Params.Category}}</a></p>
        {{end}}
        {{ if .Params.Tags}}
        <p>Tags: {{range .Params.Tags}}<a href="/tags/{{.}}" class="tag-link">{{.}} </a>{{end}}</p>
        {{end}}
        {{ if .Params.Cover}}
        <img src="{{.Params.Cover | absURL}}" alt="{{.Title}}" style="max-width: 100%; max-height: 50%;  border-radius: 8px;">
        {{end}}
        {{ if .Params.CoverCaption}}
        <p><i>{{ .Params.CoverCaption | markdownify }}</i></p>
        {{end}}
        <hr>
    </header>
        {{ .Content }}
    </article>
</main>
{{ end }}